body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
#quiz-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: left;
}
ul {
    padding-left: 20px; 
    padding:0;
    list-style-position: inside; 
    list-style-type: none;
}

li {
    margin-bottom: 12px; 
    padding: 10px;
    border-radius: 8px;
    background-color: #f8f8f8;
    line-height: 1.6;

}
button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.opcio {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.opcio:hover {
    background-color: #ddd;
}

.opcio.correcte {
    background-color: #4caf50; /* Verd per a resposta correcta */
    color: white;
}

.opcio.incorrecte {
    background-color: #f44336; /* Vermell per a resposta incorrecta */
    color: white;
}

.opcio:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.reiniciar {
    background-color: #2196f3; /* Blau */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.reiniciar:hover {
    background-color: #1976d2; /* Blau més fosc */
}

#progres-bar {
  background: #0484fc;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: width 0.5s ease-in-out; /* 👈 animació suau */
}





